/* Reset default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

/* Set font and background color for body */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Style for header section */
header {
    background-color: #1c2331;
    color: #fff;
    padding: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.navbar ul {
    display: flex;
    list-style-type: none;
}

.navbar ul li {
    margin-left: 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.navbar ul li a:hover {
    color: #aaa;
}

/* Style for main section */
#main {
    padding: 40px;
    background-color: #fff;
    text-align: center;
}

.company-name {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.my-name {
    font-size: 36px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar ul {
        justify-content: center;
    }
}



